#container{display: block; margin-left: auto; margin-right: auto; width: 100%;}
img{display: block; margin-left: auto; margin-right: auto; width: 100%;}
html{display: block; margin-left: auto; margin-right: auto; width: 100%;background-image:url(triangle3.gif);}

