#container{display: block; margin-left: auto; margin-right: auto; width: 100%;}
img{display: block; margin-left: auto; margin-right: auto; width: 100%;}
html{display: block; margin-left: auto; margin-right: auto; width: 100%;background-image:url(http://7957824b7190db4053c6-9ba4f98fcf73b275228286790314e77b.r79.cf2.rackcdn.com/gif-51.gif);}

